.navbar {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: black;
    color: white;
}

.nav-item {
    list-style-type: none;
    display: inline list-item;
    text-align: center;
}

input[type="text"] {
    background-color: transparent;
    border: 2px solid green;
    outline: none;
    color :green;  
    text-align: center;
    font-size: 2vh;
    padding: .373rem .80rem;
    margin : auto;
  }

input[type="text"]:focus{
    background-color: transparent;
    border: 2px solid green;
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
